@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");

.academic {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 10px;
}

.academic__left {
  text-align: left;
  text-justify: inter-word;
  padding: 0;
  margin: 0;
  /* background-color: rgb(255, 192, 203, 0.3); */
}
.academic__left h1 {
  text-transform: capitalize;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  letter-spacing: 0.01rem;
  font-size: 1rem;
  margin: 0px;
  padding-top: 20px;
  color: #404040;

  /*background-color: rgb(255, 192, 203, 0.3);*/
}
.academic__left h2 {
  text-transform: capitalize;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 500;
  letter-spacing: 0.01rem;
  font-size: 0.8rem;
  margin: 0;
  padding-top: 5px;
  color: #0079be;
}

.academic__left h3 {
  text-transform: capitalize;
  margin: 0;
  padding-top: 5px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 0.01rem;
  font-size: 0.7rem;
  color: #6e6e6e;
}

.academic__right {
  text-align: left;
  width: 90%;
  /* background-color: rgb(104, 153, 104, 0.3); */
}
.academic__right p {
  text-transform: capitalize;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 0.8rem;
  line-height: 1.4;
  letter-spacing: normal;
  color: #414042;
  text-align: justify;
  text-justify: inter-word;
  margin: 0;
  padding: 7px 0 10px 0;
  /* background-color: rgb(104, 153, 104, 0.3); */
}
